
/*.modal-header {*/
    /*border-top: 0px solid #e5e5e5;*/
/*}*/

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 0px solid #e5e5e5;
}

.modal-footer button{
margin-top: 25px;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    height: 150px !important;
}

