<button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#myModal_'+parameter_1">
    <span class="glyphicon glyphicon-trash"></span>
</button>


<div class="modal fade" [attr.id]="'myModal_'+parameter_1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!--<div class="modal-header"></div>-->
            <div class="modal-body">
                <div class="col-md-10">
                    <p>{{content.question}}</p>
                    <!--<p>{{parameter_1}}</p>-->
                </div>
                <div class="col-md-2">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteAction(parameter_1)">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>






