<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><favorite></favorite>&nbsp;Catalog</span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <!--<li *ngFor="let kind of kinds">-->
                <!--<a [routerLink]="['/animal/list', kind.kind_name]">{{kind.kind_name}}</a>-->
                <!--</li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kinds
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let kind of kinds"><a [routerLink]="['/animal/list', kind.kind_name]">{{kind.kind_name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/test-page">Test page</a>
                </li>
                <li>
                    <a [routerLink]="['/animal/create_update' ,0]">Add animal</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="body-panel">
    <div class="bat">
        <!--<h1>-->
        <!--{{title}}-->
        <!--</h1>-->

        <router-outlet></router-outlet>
    </div>
</div>
<!-- /.row -->

<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="text-muted">Footer</p>
    </div>
</footer>





