.animal-list {
    list-style-type: none;
}

/*height: auto;*/
/*width: auto;*/
/*max-width: 250px;*/
/*max-height: 200px;*/
.list-animal-image{
    width: 250px;
    height: auto;
    max-height: 200px;
}