<div class="container">
    <div class="col-md-12">
        <div class="alert alert-danger" *ngFor="let error of globalErrors.errors">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{error}}
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <!--<form [formGroup]="animalObj" (ngSubmit)="onSubmit()">-->
        <form (ngSubmit)="addEditAnimal(animal)">

            <div class="form-group row">
                <label for="inputImage" class="col-sm-2 col-form-label">Image</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputImage" placeholder="Image"
                           [(ngModel)]="animal.image"
                           name="image">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Name"
                           [(ngModel)]="animal.name"
                           name="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                <textarea class="form-control" id="inputPassword3" placeholder="Description" rows="5"
                          [(ngModel)]="animal.description"
                          name="description"></textarea>
                </div>
            </div>
            <fieldset class="form-group row">
                <legend class="col-form-legend col-sm-2">Kind</legend>
                <div class="col-sm-10">
                    <div *ngFor="let kind of kinds" class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="animalKind" id="gridRadios1"
                                   [(ngModel)]="animal.kind_id"
                                   value="{{kind.id}}"
                                   checked>
                            {{kind.kind_name}}
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>