<!--<div class="container-fluid">-->
<div class="container-fluid">
    <div class="col-md-12">
        <button class="btn btn-success btn pull-right" [routerLink]="['/animal/create_update' ,0]">Add animal</button>
    </div>
</div>
<div class="row clearfix">
    <br>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="panel-group">
            <div *ngFor="let animal of animals" class="row">
                <a routerLink="/animal/view/{{animal.id}}">
                    <div class="col-md-3">
                        <img src="{{animal.image}}" class="list-animal-image">
                    </div>
                    <div class="col-md-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{animal.name}}</div>
                            <div class="panel-body">{{animal.description}}</div>
                        </div>
                    </div>
                </a>
                <div class="col-md-2">
                    <!--<button class="btn btn-danger" (click)="deleteAnimal(animal.id,animal.kind)"><span-->
                    <!--class="glyphicon glyphicon-trash"></span>-->
                    <!--</button>
                      -->
                    <shared-modal [content]=del_modal_content [parameter_1]="animal.id"
                                  [parameter_2]="animal.kind"></shared-modal>

                    <a class="btn btn-primary" [routerLink]="['/animal/create_update' ,animal.id]"
                       routerLinkActive="active"><span
                            class="glyphicon glyphicon-edit"></span>
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>

