<div class="container">
    <div class="col-md-12">
        <div class="col-md-5">
            <img src="{{animal.image}}" width="300px">
        </div>
        <div class="col-md-7">
            <h1>{{animal.name}}</h1>
            <p>{{animal.description}}</p>
        </div>
    </div>
</div>