<div class="container">
    <div class="col-md-12">
        <div class="alert alert-danger" *ngFor="let error of globalErrors.errors">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{error}}
        </div>
    </div>
</div>

{{'rrrrrrrrrr' | trans:'asdasd'}}

<div class="container">
    <div class="col-md-12">
        <br>
        <div class="col-md-2">
            <p>Shared template example:</p>
            <shared-list [items]=home_list></shared-list>

        </div>
        <div class="col-md-2">
            <ul>
                <li *ngFor="let kind of kinds"><a [routerLink]="['/animal/list', kind.kind_name]">{{kind.kind_name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <form (ngSubmit)="addEditKind(selectedKind)">

                <input type="hidden" name="kind_id" [(ngModel)]="selectedKind.id">
                <div class="form-group row">
                    <label for="kindName" class="col-sm-2 col-form-label">Kind name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="kindName" placeholder="The name of kind"
                               [(ngModel)]="selectedKind.kind_name"
                               name="kind_name">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-success">
                            <span *ngIf="selectedKind.id != 0">Update</span>
                            <span *ngIf="selectedKind.id == 0">Create</span>
                        </button>
                        <button type="button" class="btn btn-warning" (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </form>
            <br>
            <div *ngFor="let kind of kinds" class="well well-sm" style="display: inline-block">

                <button class="btn btn-primary"
                        (click)="bindSelectedKind(kind)">{{kind.kind_name}}
                </button>

                <shared-modal [content]=del_modal_content [parameter_1]="kind.id"></shared-modal>

            </div>
        </div>

    </div>
</div>
