<div class="container">

    <div>
        <ul>
            <li *ngFor="let code of langCodes">{{code}}</li>
        </ul>
    </div>
    <div class="col-md-12">
        {{ 'HELLO' | translate:{value: param} }}
        <br>
        {{ 'TEST' | translate:{value: param} }}
    </div>
</div>

